@font-face {
	font-family: headline;
	src: url("./fonts/Rejouice-Headline.woff2") format(".woff2"),
		url("./fonts/Rejouice-Headline.ttf");
	/* src: url(Rejouice-Headline.ttf); */
}
@font-face {
	font-family: content;
	src: url("./fonts/NBInternationalProBoo.woff2") format(".woff2"),
		url("./fonts/NBInternationalProBoo.ttf");
	/* src: url(NBInternationalProBoo.ttf); */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "content", "Poppins";
	/* hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* hide scrollbar for chrome, safari and opera */
*::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
	width: 100%;
}
